<!DOCTYPE html>
<html>
  <head>
    <title>User Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <a href="/users" class="user-button">User List</a>
      <h1>User Detail</h1>
      <table class="user-detail">
        <tbody>
          <tr>
            <td>
              <%if (user.image) { %>
                <img src="<%= user.image%>" alt="<%= user.name%>" class="user-image">
              <% }else{ %>
                <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=retro&f=y" alt="<%= user.name%>" class="user-image">
              <% } %>
            </td>
          </tr>
          <tr>
            <td>Name</td>
            <td><%= user.name %> / <%= user.username %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><a href="mailto:<%= user.email %>" target="_blank"><%= user.email %></a></td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td><%= moment.unix(user.birthday/1000).format("MM/DD/YY") %></td>
          </tr>
          <tr>
            <td>Favorite Color</td>
            <td><%= user.favoriteColor %></td>
          </tr>
          <tr>
            <td>Join Date</td>
            <td><%= moment.unix(user.joinDate/1000).format("MM/DD/YY") %></td>
          </tr>
        </tbody>
      </table>
      <div class="user-ui">
        <div>
          <h3>
            <a href="/users/edit/<%= user._id%>">EDIT</a>
          </h3>
        </div>
        <div>
          <form action="/users/delete/<%= user._id%>" method="post">
            <button type="submit">DELETE</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
